form{
	position: absolute;
	width: 380px;
	height: 640px;
	left: 532px;
	top: 103px;
	padding-left:30px;
	padding-right:30px;
}
.sign h1, .sign #action,
.sign li, .sign .border-grad
{
	display:none;
}
.reg h1, .reg label,
.reg #action, .reg li,
.reg .border-grad
{
	display:block;
}
.reg label{
	margin-top:20px;
	margin-bottom:0px;
}
.sign input{
	margin-top:5px;
	margin-bottom:5px;
}
#right{
	margin-top:-52px;
}
#right:after{
	top:58px;
}

.reg span{
	float:left;
	margin:-10px 20px 7px 0px;
	font-size: 14px;
	line-height: 17px;
	font-style: normal;
	font-weight: normal;
	text-transform:none;
	color: rgba(31, 32, 65, 0.5);
}
label input[type=radio] {
  	display:none;
}
#select span {
  position: relative;
  padding: 3px 0px 3px 25px;
}
#select span:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  left: 0px;
  top: 0px;
}
#select input:checked ~ span:before {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border:none;
}
#select input:checked ~ span:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #BC9CFF;
  border-radius: 50%;
  left: 0px;
  top: 0px;
}

#vkl span {
  margin:-15px 0px 0px 0px;
  position: relative;
  padding: 2px 0px 5px 51px;
}
.disc{
	margin-left:-55px;
}
#vkl span:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  left: 0px;
  top: 0px;
}
#vkl input:checked ~ span:before {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 4px;
  top: 4px;
  background: #ccc;
}
.disc input:checked ~ span:before {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 14px;
  top: 4px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.sign .border-grad
{
	margin-top:22px;
}
.sign li{
	margin-top:37px;
}