main{
	background-image:url("images/image_4.jpg");
	margin-top:15px;
	height:685px;
	width:1440px;
}
main p{
	position:absolute;
	right:1999px;
}
form{
	position: absolute;
	left: 530px;
	top: 250px;
	height: 363px;
	padding-left:30px;
	padding-right:30px;
}
h1,label,form input
{
	display:none;
}
.sign h1,.sign input{
	display:block;
	margin-top:5px;
}
.sign input{
	color: rgba(31, 32, 65, 0.25);
	margin:5px 0px 5px 0px;
}
.sign #action{
	margin-top:20px;
	height:42px;
}
.sign #action.enter{
	width:92px;
	margin-top:2px;
	padding:0px;
}
.sign .border-grad{
	float:right;
	margin-top:26.5px;
	margin-right:0px;
	width:96px;
	height:46px;
}
.sign li{
	float:left;
	margin-top:42px;
	margin-left:0px;
	list-style-type:none;
	color: #1F2041;
}

